.nav{
    background-color: var(--theme);
    padding:1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .title{
        color: white;
        font-weight: 500;
        font-size: clamp(1.1rem, 1rem + 0.3333vw, 1.3rem);
        margin: 0.5rem 0;
    }
      .navbar-link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e3e3e3;
        font-weight: 500;
        margin:.0.5rem 0;
        font-size: 1rem;
        cursor: pointer;
      }
      
      .navbar-link:hover {
        color: #fff;
        transition: all 0.3s;
      }

}